@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *));

html.dark, html[data-theme="dark"] {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}
